@import '../breakpoint';

.filter__container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  &-bar {
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 18px;
    height: 45px;
    text-align: center;
    max-width: 180px;
  }
}
.grid__project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  justify-content: space-between;
  margin-top: 100px;
  
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  
  @include mobile {
    grid-template-columns: 1fr;
  }

  &__card {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden; // Pour cacher les débordements des éléments
    @include tablet {
      height: 300px;
    }

    &-container {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
    }

    &-front, &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: transform 0.5s ease-in-out;
    }

    &-front {
     color:black;
      z-index: 2;
      background-color: #FFFFFF;
      color:#333333;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-img {
        border-radius: 25px;
        filter: brightness(1.1);
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      &-title {
        color:#FFFFFF;
        text-transform: uppercase;
        position: absolute;
        top: 10px;
        left: 30%;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.5); // Fond noir semi-transparent
        padding: 5px 10px; // Pour ajouter un peu d'espace autour du texte
        border-radius: 5px; // Pour arrondir les coins du fond
      }
    }

    &-back {
      background: white;
      border-radius: 25px;
      transform: translateY(100%);
      z-index: 1;
      display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 20px; 

      
      &-title {
        color: #000000;
        font-weight: 800;
        text-transform: uppercase;
        position: absolute;
        top: 20px;
        left: 30%;
      }
      &-desc {
        margin-top: 25px;
      }
    }
  }
}
//Desktop
.grid__project__card:hover .grid__project__card-back,
.grid__project__card:focus .grid__project__card-back {
  transform: translateY(0);
}

.grid__project__card:hover .grid__project__card-front,
.grid__project__card:focus .grid__project__card-front {
  transform: translateY(-100%);
}
@include mobile{
  .grid__project__card.active .grid__project__card-back {
    transform: translateY(0);
  }
  
  .grid__project__card.active .grid__project__card-front {
    transform: translateY(-100%);
  }
}
@include tablet{
  .grid__project__card.active .grid__project__card-back {
    transform: translateY(0);
  }
  
  .grid__project__card.active .grid__project__card-front {
    transform: translateY(-100%);
  }
}
