.project-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
  
    .project-link {
      padding: 10px 20px;
      background-color: #007bff; // Couleur de fond
      color: white; // Couleur du texte
      border: none; // Retirer la bordure
      border-radius: 5px; // Coins arrondis
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3; // Couleur de fond au survol
      }
    }
  }