.project-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 5px;

  .links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .project-link {
      margin: 5px;
      padding: 8px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 100px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .project-tag {
      margin: 0;
      padding: 5px;
      background-color: #f0f0f0;
      border: none;
      cursor: pointer;
      border-radius: 50px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #dcdcdc;
      }
    }
  }
}